body {
    font-family: 'Junge', sans-serif;
    color: #ffffff;
    
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Jura', sans-serif;
}
.navbar {
    background-color: #575f1d !important; /* Couleur de fond de la navbar */
    
}

footer {
    background-color: #575f1d !important;
}

